@model Product

    <tr>
        <td>@Model.Name</td>
        <td>@Model.Price.ToString("c2")</td>
        <td>@Model.CategoryId</td>
        <td>@Model.SupplierId</td>
        <td>
            <a asp-action="Index" asp-controller="Home" asp-route-id="@Model.ProductId" class="btn btn-secondary">Select</a>
        </td>
    </tr>