@model Product
@{
    ViewBag.Title = "Product #" + Model.ProductId.ToString();
}

@section Header{
    Product Information #@Model.ProductId.ToString()
}


<div class="m-2">
    <table class="table table-striped table-bordered p-2" data-id="@Model.ProductId">
        <thead>
            <tr><th>Name</th><th>Price</th><th>Avrage change</th><th>CategoryId</th></tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @if (Model.Price > 200)
                    {
                        @:Loxury @Model.Name
                    }
                    else
                    {
                        @:Basic @Model.Name
                    }
                </td>
                <td>@Model.Price.ToString("c")</td>
                <td>@(((decimal)ViewBag.AvragePrice * 100/Model.Price).ToString("n2")) %</td>
                <td>@Model.CategoryId</td>
            </tr>
        </tbody>
    </table>
</div>

@section Footer{
    @(((Model.Price / ViewBag.AvragePrice)
* 100).ToString("F2"))% of average price
}

@section Summary{
    <div class="bg-info text-white m-2 p-2">
        <vc:city-summery them-name="danger"/>

    </div>
    <vc:page-size/>
}